{#
| Variable  | Type |
|-----------|------|
| products  | []   |
| position  | int  |
#}
<section class="s-block container" style="padding:70px 0;background:#F8F8FB">
  <div class="sec-header reveal">
    <div>
      <div class="rpp-badge">جديد</div>
      <h2 class="rpp-title">أحدث <span class="hl">المنتجات</span></h2>
    </div>
  </div>
  <salla-products-list source="latest"></salla-products-list>
</section>
